html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #333;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: #fff;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    max-width: 1200px; /* Set a max-width to keep content centered */
    margin-left: auto;
    margin-right: auto; /* Center the sections */
}

#projects .project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#projects .project-item {
    flex: 1 1 200px;
    text-align: center;
}

#projects .project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#projects .project-item a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color of the text */
}

#projects .project-item a:hover {
    transform: scale(1.05); /* Optional: Adds a slight zoom effect on hover */
    transition: transform 0.2s ease-in-out;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333; /* Button background color */
    color: #fff; /* Text color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.home-button:hover {
    background-color: #555; /* Background color on hover */
}


.project-media-container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}